# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import your libraries:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import prettytable
import scipy

Bad key "text.kerning_factor" on line 4 in
C:\Users\joaop\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [2]:
# Your code here:
from sklearn.datasets import load_diabetes
diabetes=load_diabetes()

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [3]:
# Your code here:
import pandas as pd

print("cancer.keys(): \n{}".format(diabetes.keys()))

data=pd.DataFrame(diabetes['data'], columns = diabetes['feature_names'])
target=pd.DataFrame(diabetes['target'], columns=['target'])
data.head()

cancer.keys():
dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [4]:
#code here:
print("diabetes description: \n{}".format(diabetes['DESCR']))

diabetes description:
.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [5]:
# Enter your answer here:
'''
1. How many attributes are there in the data? What do they mean?
Answer: There are 10 attributes, according to the description:  age, sex, body mass index, average blood
pressure, and six blood serum measurement (represented by s1, s2, etc.)

2. What is the relation between diabetes['data'] and diabetes['target']?
diabetes['data'] predicts diabetes['target'].
Mathematically, diabetes['target'] is most likely a binary / boolean variable and is the dependent variable.
Diabetes['data'] constains features or independent variables that we aim to model to explain the dependent variable.

3. How many records are there in the data?
442

'''

"\n1. How many attributes are there in the data? What do they mean?\nAnswer: There are 10 attributes, according to the description:  age, sex, body mass index, average blood\npressure, and six blood serum measurement (represented by s1, s2, etc.)\n\n2. What is the relation between diabetes['data'] and diabetes['target']?\ndiabetes['data'] predicts diabetes['target'].\nMathematically, diabetes['target'] is most likely a binary / boolean variable and is the dependent variable.\nDiabetes['data'] constains features or independent variables that we aim to model to explain the dependent variable.\n\n3. How many records are there in the data?\n442\n\n"

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [6]:
# Your code here:
data.shape

(442, 10)

In [7]:
target.shape
#they are consistent, as the target variable should have the same cardinality as the independent variables / predictors (# of columns in Python)

(442, 1)

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [8]:
# Your code here:
from sklearn import linear_model

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [9]:
# Your code here:

diabetes_model=linear_model.LinearRegression(
    fit_intercept=True,
    normalize=False,
    copy_X=True,
    n_jobs=None,
)

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [10]:
# Your code here:

diabetes_data_train=diabetes['data'][0:422]
diabetes_target_train=diabetes['target'][0:422]
diabetes_data_test=diabetes['target'][:-20]
diabetes_target_test=diabetes['data'][:-20]

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [11]:
# Your code here:
diabetes_model=diabetes_model.fit(diabetes_data_train, diabetes_target_train)
print("Intercept is: "+str(diabetes_model.intercept_))
print("Coefficients are: "+str(diabetes_model.coef_))

Intercept is: 152.76430691633442
Coefficients are: [ 3.03499549e-01 -2.37639315e+02  5.10530605e+02  3.27736980e+02
 -8.14131709e+02  4.92814588e+02  1.02848452e+02  1.84606489e+02
  7.43519617e+02  7.60951722e+01]

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [12]:
# Your code here:
y_pred=diabetes_model.predict(diabetes_target_test)
y_pred

array([206.75928628,  68.44064739, 178.20406005, 166.59039906,
       129.47338697, 105.48206978,  74.90024045, 120.73067569,
       159.82011958, 211.92833532,  97.83664191,  97.41005509,
       115.60592349, 164.92279039, 103.34070745, 177.68217359,
       210.75217394, 184.40013153, 148.54098532, 123.55941211,
       120.97403176,  86.41241445, 113.06547293, 252.35802827,
       165.0256223 , 147.87909701,  97.36674337, 179.12350572,
       129.58494812, 185.38814558, 158.11930901,  69.5502975 ,
       263.36897831, 113.46175282,  79.56563326,  87.72481273,
       207.0421844 , 157.45915639, 240.65662115, 137.1490856 ,
       155.31655344,  74.42879297, 146.31653437,  78.52705268,
       222.11926084, 126.59820508, 141.84166437, 109.44753606,
        75.09372891, 190.42332738, 159.23790309, 171.06440722,
       134.14185441, 159.31230491, 138.94279895,  73.39607055,
       207.21538369,  80.45498482, 103.89405947, 135.51866843,
       113.7604739 , 181.57058967,  61.77249359,  98.88189256,
       115.70757199, 191.02738602, 150.90888198, 125.92583944,
       116.54669748, 124.03378216,  75.55191024, 237.48306485,
       141.50540223, 125.7874299 , 151.92660098, 128.96147947,
       192.53543155,  77.39022131, 167.09776732,  91.31020128,
       175.17028723, 124.29323949,  63.18411355, 151.78757246,
        53.60712124, 165.98566436,  44.4723183 , 152.23324167,
        81.62386207, 107.2816144 ,  80.87409188, 187.27371075,
       192.57750449,  60.72408869, 106.4031363 , 125.49538842,
       208.99379988, 214.59988147, 123.54770557, 139.99635036,
       167.79824717, 108.58475774, 149.32986674, 159.19431647,
       152.351259  , 117.92793459,  73.04375498, 157.21237354,
       231.29179423, 146.69328359,  40.80100306, 121.73643613,
       152.55087233, 209.59441904, 289.90775253, 189.05011996,
       215.28486372, 237.32410411, 166.37285996, 151.907107  ,
       157.19405036, 201.84503346, 220.58435724, 176.89381347,
       169.39959973, 187.68448576,  57.68850542, 107.99405973,
        92.59936412, 212.23870609, 245.41651206,  69.4816247 ,
       114.41367356,  69.79914347, 140.31442169, 239.90556041,
        58.60883226, 235.72019943, 255.73947027, 253.12249817,
       157.6279999 , 231.98033091, 170.76553345, 117.61035691,
       179.93772788, 238.81068308, 190.57795278, 228.0108628 ,
       114.36333784, 178.23235423, 209.81775597, 144.9795296 ,
       202.60129801, 123.80860815, 151.63805944, 198.97398769,
       146.59152212, 125.27392182,  86.03270707, 234.82457586,
        82.84016948, 231.27600488, 144.36323971, 198.48406939,
       147.06334862,  77.98456984,  60.16531688, 263.50063179,
       226.2378663 , 219.1627738 ,  48.11897346,  88.90700468,
       222.1094987 ,  97.92075863, 165.3163388 , 121.62630945,
       159.11162765, 223.77647264, 100.21365939, 166.44520444,
       180.27822407,  90.61060421, 173.45311624, 160.50438597,
       201.91417101, 186.05703896, 196.96259576,  66.47814072,
       154.88396506, 117.37775276, 197.02504012, 128.99212268,
        92.25472599, 141.37351287, 155.92188295, 171.07777829,
        99.62668276, 192.35843191, 142.33601676, 176.87579872,
        97.12218811,  70.42117942, 163.92951642, 199.22311971,
       181.48660328, 227.29930221, 161.41002772, 211.79446617,
       224.66341593, 175.32963083, 124.96333003, 175.91591988,
       153.1156677 ,  99.72373002, 100.00195178, 263.53536082,
       225.48647667, 222.38262709, 134.55939169, 145.07798763,
        54.84517001, 142.09205052, 154.79870054, 124.46470533,
        78.0745732 , 231.034711  ,  78.67174011, 106.97791537,
       117.81672   ,  99.53040319, 165.91262249, 160.30651046,
       159.59183372, 143.39983051, 231.71849   , 179.59535891,
       187.56243947,  67.05964986, 192.84191843, 179.08027657,
       235.94996771, 121.08637751,  85.93905304, 102.65017083,
       140.31649517, 101.66657695, 119.96430852,  82.16098489,
       234.31452819, 244.33866794, 263.53283451, 274.30429222,
       180.91762932, 204.45453023, 254.03323937, 119.28896357,
       267.19515892, 105.08321149, 119.46191516, 142.50982281,
        58.807832  , 130.39077413, 263.39520208,  46.17469178,
       125.0187723 , 131.70093752,  35.64540901, 139.17365621,
       246.10401878,  89.1724053 , 192.71804663, 166.23315911,
       147.79589786, 192.59895656, 177.56167389, 159.86178668,
       188.01701815, 117.08311908, 113.82928222, 118.61959402,
       166.10750875,  98.10269213, 141.14817148,  85.3149742 ,
       161.52470754, 203.30162645,  79.99128073, 146.91709814,
        81.14161392, 190.03643798, 221.95408679, 203.46909044,
        93.3565789 , 178.7878351 ,  83.91466859, 152.06713318,
        78.34168866,  98.41490946, 108.56162588, 125.62703969,
       217.90029179, 127.53783653, 207.05767561, 230.19888487,
       124.47980723, 136.71526057, 127.63090393, 150.98569723,
        88.5925505 , 139.48869288, 204.52461607, 173.83508424,
       122.9253427 , 214.36441981, 174.70438665, 110.22556227,
       198.73936678, 174.83541512, 163.61697039, 193.79942594,
       191.47045414, 285.50533597, 279.46979662, 216.51365647,
       210.84831584, 215.64107793, 158.55625638, 224.23468435,
       188.77485924, 105.07471765, 180.78872664, 114.49716858,
       291.21345392, 184.36382653,  80.18176355,  86.91136289,
       248.78148064, 176.34545208, 122.15126229, 146.07273095,
       171.50388525, 184.66501163, 165.42948001, 157.82604851,
       143.70436507, 127.03589361, 177.62938237, 105.52013381,
       132.73458358,  97.5268931 , 250.1859579 ,  86.81475817,
        62.41613529, 154.45925987, 191.6875602 , 134.74421673,
        94.28531437, 201.15935714,  53.73729167, 176.76832337,
       197.79656254, 119.63803358, 236.11561006, 166.17655703,
       162.37080447, 164.02067674, 252.92926842, 256.45853973,
       197.70698794, 184.82159384,  59.2095776 , 193.66927062,
       111.23508373, 142.60785153, 127.65299855, 181.28398173,
       210.83575857, 170.72039696, 165.17584707, 137.74480707,
       175.68382577,  75.3511821 , 245.44316502, 115.3294497 ,
       111.81300072, 141.55921954, 111.02445384,  91.9564145 ,
       164.19818587,  74.89356839, 253.68019464,  54.68468661,
       100.04367036, 100.83016925, 257.81296474, 169.57401414,
        62.70775773, 183.11027608, 170.34970265, 190.15105413,
       187.19845707,  88.17178554, 151.59620981, 250.30795981,
       199.91994535, 284.01273725,  50.53096422, 173.03012803,
       205.73902656, 174.78336203, 157.74242737, 150.48016954,
       234.26382757, 121.60133488, 165.79514728, 173.46162171,
       227.5018786 , 149.09669413,  99.5856398 ,  81.87865626,
       142.75810005, 193.01616829])

#### Print your `diabetes_target_test` and compare with the prediction.

In [13]:
# Your code here:
print(diabetes_target_test)

[[ 0.03807591  0.05068012  0.06169621 ... -0.00259226  0.01990842
  -0.01764613]
 [-0.00188202 -0.04464164 -0.05147406 ... -0.03949338 -0.06832974
  -0.09220405]
 [ 0.08529891  0.05068012  0.04445121 ... -0.00259226  0.00286377
  -0.02593034]
 ...
 [-0.02004471 -0.04464164 -0.0547075  ... -0.03949338 -0.07408887
  -0.0052198 ]
 [ 0.02354575 -0.04464164 -0.03638469 ...  0.03430886 -0.03324879
   0.06105391]
 [ 0.03807591  0.05068012  0.0164281  ...  0.07120998  0.04976866
   0.01549073]]

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [14]:
# Your explanation here:

#checking if all results of the model prediction are equal to the test...
is_it_the_same=print((diabetes_data_test==y_pred).all())

'''
As it can be seen below the call, it is not.
Doesn't even make sense to be equal as there's no such thing as 100% accuracy in prediction.
'''

False

"\nAs it can be seen below the call, it is not.\nDoesn't even make sense to be equal as there's no such thing as 100% accuracy in prediction.\n"

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    ```
    H0 : β1 = β2 = ... = β10 = 0
    HA : At least one βj ≠ 0 (for j = 1, 2, ..., 10)
    ```

* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

![statsmodels regression](../statsmodels.png)

In [15]:
# Your code here:

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [16]:
# Your answers here:

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [17]:
# Your code here:
auto=pd.read_csv("auto-mpg.csv")

Look at the first 5 rows using the `head()` function:

In [18]:
# Your code here:
auto.head(5)
#or auto[0:4]

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [19]:
# Your code here:
auto.columns.to_series().groupby(auto.dtypes).groups

#everything seems alright in this cell.

{dtype('int64'): Index(['cylinders', 'weight', 'model_year'], dtype='object'),
 dtype('float64'): Index(['mpg', 'displacement', 'horse_power', 'acceleration'], dtype='object'),
 dtype('O'): Index(['car_name'], dtype='object')}

What is the newest model year and the oldest model year?

In [20]:
# Your code here:
print("max is: "+str(auto['model_year'].max()))
print("min is: "+str(auto['model_year'].min()))

max is: 82
min is: 70

Check the dataset for missing values and remove all rows containing at least one missing value.

In [21]:
# Your code here:
auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [22]:
auto.dropna(inplace=True)
auto.head(5)

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [23]:
# Your code here:
auto['cylinders'].value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

In [24]:
print("My answer: there are "+str(len(auto['cylinders'].value_counts()))+" values.")

My answer: there are 5 values.

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [25]:
# Your code here:
auto.drop(labels='car_name',inplace=True,axis=1)
auto.dropna()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70
...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82
394,44.0,4,97.0,52.0,2130,24.6,82
395,32.0,4,135.0,84.0,2295,11.6,82
396,28.0,4,120.0,79.0,2625,18.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

In [46]:
from sklearn.model_selection import train_test_split
y=auto['mpg']

x=auto.drop('mpg', axis=1)

X_train, X_test, y_train, y_test=train_test_split(x, y, train_size=0.8)

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [47]:
# Your code here:
from sklearn.linear_model import LinearRegression

auto_model=LinearRegression(
    fit_intercept=True,
    normalize=False,
    copy_X=True,
    n_jobs=-1,
    )
'''
The number of jobs to use for the computation.
This will only provide speedup for n_targets > 1 and sufficient large problems.  -1 means using all processors.
'''  

auto_model=auto_model.fit(X_train, y_train)
auto_model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=False)

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](https://en.wikipedia.org/wiki/Coefficient_of_determination). In the end, we want the r-squared score to be as high as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [48]:
# Your code here:
from sklearn.metrics import r2_score

y_pred=auto_model.predict(X_train)

#printing r squared between predicted y's and y_train
print('R Squared score between y_pred and y_test: '+str(r2_score(y_train, y_pred)))

R Squared score between y_pred and y_test: 0.8094730665790865

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [49]:
# Your code here:

y_test_pred=auto_model.predict(X_test)

#printing r squared between predicted y's and y_test
print('R Squared score between y_pred and y_test:'+str(r2_score(y_test_pred, y_test)))

R Squared score between y_pred and y_test:0.7455782443045208

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.8146 vs 0.7818). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [42]:
# Your code here:

X_train09, X_test09, y_train09, y_test09=train_test_split(x, y, train_size=0.9)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [43]:
# Your code here:

from sklearn.linear_model import LinearRegression

auto_model09=LinearRegression(n_jobs=-1)
'''
# The number of jobs to use for the computation.
This will only provide speedup for n_targets > 1 and sufficient large problems.  -1 means using all processors.
'''

auto_model09=auto_model09.fit(X_train09, y_train09)
auto_model09

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=False)

Compute the predicted values and r squared score for our new model and new sample data.

In [44]:
# Your code here:

y_pred09=auto_model.predict(X_train09)

#printing r squared between predicted y's and y_test
print('R Squared score between y_pred09 and y_test09:'+str(r2_score(y_pred09, y_train09)))

R Squared score between y_pred09 and y_test09:0.7661172942745812

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [45]:
# Your code here:
y_test_pred09=auto_model.predict(X_test09)

#printing r squared between predicted y's and y_test
print('R Squared score between y_test_pred09 and y_test09:'+str(r2_score(y_test_pred09, y_test09)))

#I don't get why I obtained a worst R Squared... TA: could you help me better understand what I did wrong?...

R Squared score between y_test_pred09 and y_test09:0.7417229357368664

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [ ]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [ ]:
# Your code here:

Fit the model and print the ranking

In [ ]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [ ]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [ ]:
# Your code here:

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.